@font-face {
    font-family: font1;
    src: url('..//fonts/font1.woff2');
}

@font-face {
    font-family: font2;
    src: url('..//fonts/font2.woff');
}

@font-face {
    font-family: font3;
    src: url('..//fonts/font3.woff2');
}

@font-face {
    font-family: font4;
    src: url('..//fonts/font4.woff2');
}

@font-face {
    font-family: font5;
    src: url('..//fonts/font5.woff2');
}